.slider {
    width: 100%;
    height: 695px;
    /*background: radial-gradient(at top, #fff, #fff 10%, #7b7671 10%, #7b7671);*/
    background-image: repeating-linear-gradient(315deg, #7b7671 0%, #7b7671 50%, transparent 50%, transparent 100%), repeating-linear-gradient(45deg, #7b7671 0%, #7b7671 50%, transparent 50%, transparent 100%);
}
